<%- include("../layouts/boilerplate.ejs") %>


    <div class="main-page-img-v">
        <div>

        </div>
        <div class="div-rent-v">
            <div class="div-rent-child-v">
                <h1 class="h1-rent-v">Rent a car now</h1>
            </div>
            <div class="div-rent-child-v">
                <% if(city) { %>
                    <h2 id="main-sub-heading-v">Book your drive in <%= city %>
                    </h2>
                <% } else { %>
                    <h2 id="main-sub-heading-v">Book your drive!</h2>
                <% } %>
            </div>
        </div>

        <section class="getCar">
            <div class="address">GLA University Mathura, UP......</div>
            <div class="midLine"></div>
            <div class="address">9 Mar '24, 6:00 PM - 12 Mar '24, 2:00 AM</div>
            <div class="address">GET CAR</div>
        </section>

    </div>

    <div class="popular-cars-div-v">
        <h1 class="popular-cars-h1-v">Popular Cars</h1>
    </div>

    <div class="row">
        <% for(let item of cars){ %>
            <div class="col-lg-4 product-card product-card-index">
                <div class="card card-index text-center shadow m-3 mx-auto" style="width: 18rem; height: 25em;">
                    <img class="img img-index" src="<%=item.img%>" class="card-img-top" alt="...">
                    <div class="card-body card-body-index">
                        <h4 class="card-title"><%= item.name %></h4>
                        <h5 class="card-text"><%= item.desc %></h5>
                        <h6 class="card-title">₹<%= item.price %>/hr</h6>   
                    </div>
                    <div class="mb-5">
                        <a href="/cars/<%=item._id%>" class="btn btnn btn-primary">View Car</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

<!-- Why choose Drive Dynasty -->
<div class="mt-5">
    <div class="why-dynasty-v">
        <h1>Why choose DriveDynasty &#x3f;</h1>
    </div>
    <div class="reasons-v">
        <div class="reasons-children-v mx-5">
            <div class="reasons-img-v">
                <i class="fa-solid fa-car fa-2xl mt-4"></i>
            </div>
            
            <p class="mt-3">Accessibe</p>
        </div>
        <div class="reasons-children-v mx-5">
            <div class="reasons-img-v">
                <i class="fa-solid fa-calendar-days fa-2xl mt-4"></i>
            </div>
            
            <p class="mt-3">Convenient</p>

        </div>
    </div>
</div>

<div class="service-places-parent-v">
    <div class="service-places-child-v">
        <h4 style="font-weight:700;">CAR RENTAL PLACES IN INDIA</h4>
    </div>
    <div class="service-places-child-v">
        <%- include("../partials/footer.ejs") %>
    </div>
    
</div>


